/**
 * Copyright 2015 Sky Wickenden
 * 
 * This file is part of StreamBed.
 * An implementation of the Babbling Brook Protocol.
 * 
 * StreamBed is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * at your option any later version.
 * 
 * StreamBed is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with StreamBed.  If not, see <http://www.gnu.org/licenses/>
 */

.help-icon {
    background-image: url("../../images/ui/help.png");
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    padding-left: 10px;
    vertical-align: bottom;
    width: 1.5em;
}

.help-icon:hover, .small-help-icon:hover {
    background-image: url("../../images/ui/help-over.png");
}

.smaller-icon {
    height: 0.9em;
    width: 0.9em;
}

.small-help-icon {
    background-image: url('../../images/ui/help.png');
    background-size: contain;
    padding-left:10px;
    vertical-align: bottom;
    cursor: pointer;
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
}