assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/config/server.php
protected/cookiepath/
!protected/cookiepath/.gitignore
protected/log/
!protected/log/.gitignore
nbproject
working_notes.php
images/tmp/*
images/user/*

sails/config/local.js