#edit_streams{
    min-width: 50em;
    background: none repeat scroll 0 0 #FFFFFF;
    list-style: none outside none;
    margin: 1em 2em;
    display: inline-block;
}

#edit_streams>li{
    padding: 0.5em 0;
    font-size: 1.2em;
    border-radius: 0.25em;
    border: 0;
}

#edit_streams>li:hover {

}

#edit_streams>li>a,
#edit_streams ul.filters>li>a.delete,
#edit_streams ul.filters>li>a.details,
#edit_streams ul.moderation-rings>li>a.delete,
#edit_streams ul.moderation-rings>li>a.details{
    float: right;
    padding: 0 2em 0 0;
}

#edit_streams .stream-name {
    margin: 0 2em;
    font-weight: bold;
}

#edit_streams>li.open>.stream-name {
    display: inline-block;
    padding-bottom: 1em;
}

#edit_streams>li.open {
    margin: 0 0 1em 0;
    background: -webkit-linear-gradient(to bottom, #b4c2e6 0%, #b4c2e6 2.75em, #c8d8ff 0em);
    background: linear-gradient(to bottom, #b4c2e6 0%, #b4c2e6 2.75em, #c8d8ff 0em);
    border-radius: 0.25em;
    padding: 1em 0;
    margin-top: 1em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#edit_streams>li>div.details {
    padding : 0 2em 1em 2em;
    overflow: auto;
}

#edit_streams>li>div.details>div {
    line-height: 2em;
    font-size: 0.875em;
}

#edit_streams>li>div.details>div>ul>li>div.details>div {
    line-height: 2em;
}

#edit_streams>li>div.details>div.change-version,
#edit_streams>li>div.details>div>ul>li>div.details>div.change-filter-version {
    border-radius: 0.25em;
}

#edit_streams>li>div.details>div>ul {
    margin: 0 0 0 -1em;
}

#edit_streams>li>div.details>div>ul>li {
    border-radius: 0.25em;
    border: 1px solid #C8D8FF;
    padding: 0 1em;
}

#edit_streams .filter-suggestions-table {
    margin-bottom: 1em;
}

.no-height {
    height: 0px;
}

#edit_streams>li>div.details>div>ul>li:hover {
    border: 1px solid #B4C2E6;
}

#edit_streams>li>div.details>div>ul>li.open {
    border-width: 2px;
    border-style: solid;
    border-color: #B4C2E6;
}

#edit_streams>li>div.details>div>ul>li.open>.filter-name {
    font-weight: bold;
}

.change-version>.select-version, .change-filter-version>.select-version  {
    margin-left: 1em;
}

#edit_streams>li>div.details>div strong {
    font-weight: bold;
}

.stream-suggestions tr {
    border: 1px solid transparent;
    border-radius: 0.25em;
    display: inline-block;
    margin: 0 -1em 0 -0.5em;
    padding: 0 0.5em;
    font-size: 0.875em;
    width: 100%;
}

.stream-suggestions tr:hover {
    border: 1px solid #4B72A7;
}

.stream-suggestions .rhythm, .stream-suggestions .suggestion, .stream-suggestions .ring {
    width: 22em;
}

.stream-suggestions .add, .stream-suggestions .join, .stream-suggestions .view {
    float: right;
    padding: 0 2em 0 0;
}

#edit_streams .ajax-loading{
    visibility: hidden;

}

#stream_search{
    font-size: 0.875em;
}

.search-stream-description, .search-rhythm-description {
    padding-left:2em;
    font-size: 0.875em;
}

table.selector tfoot td{
    text-align: right;
}

table.selector a.next, table.selector a.previous, table.selector a.first, table.selector a.action{
    padding: 0 0.5em;
}

table.selector tfoot tr td a:first-child {
    padding: 0 0 0 0.5em;
    margin: 0 0 0 1em;
}

#select_streams {
    display: inline-block;
}

#select_streams>ul>li {
    padding: 1em 2em;
    font-size: 1.2em;
}

#select_streams>ul>li>a {
    font-weight: bold;
    line-height: 1.5em;
}

#select_streams>ul>li.open {
    background-color: #B4C2E6;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    margin: 0.5em 0;
    border-radius: 0.25em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#select_streams>ul>li.closed {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    margin: 0.5em 0;
    border-radius: 0.25em;
}

#select_streams .stream-suggestions, #select_streams #stream_search {
    line-height: 1.5em;
    margin-top: 0.5em;
}

 #select_streams #stream_search {
     position: relative;
 }

 #selector_moderation_ring_search.selector, #selector_filter.selector {
    background-color: #B4C2E6;
    border: 2px solid transparent;
    border-collapse: separate;
    border-radius: 0.25em;
    border-spacing: 0;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
 }

 .temp-selector-width {
     min-width: 40em;
 }

 #choose_stream>li {
     min-width: 40em;
 }

 .search-stream-description {

 }

 .search-stream-description-row{
 }


 table.selector tr.search-stream-description-row>td {
     white-space: normal;
     width: 100%;
 }

 #edit_streams .stream-version-selectors {
     margin-right: 2em;
 }

 #edit_streams .change-version {
     margin-left: 2em;
 }

 #edit_streams #moderation_suggestions {
     margin-bottom: 1em;
 }