/* Profile page styles */


/* Styles associated with displaying short posts - just title and first value. */
.short-post {
    min-height: 2.8em;
    clear: both;
}

.short-post>.title>a, .short-post>.title>span {
    font-size: 1.5em;
}

.short-post>.info>a {
    font-size: 0.875em;
}

.short-post>.top-value {
    margin: 0;
    padding: 0;
}

.short-post .title {
    display: block;
    padding-top: 0;
}

#profile .block-loading, #profile .content-block-3{
    border-radius: 0.25em;
}

#profile .content-block-2.block-loading  {
    border-radius: 0.25em;
}


@media only screen and (max-width : 1300px) {
    #profile>.profile-photo + h3 {
        clear: both;
    }
}

#profile .updown{
    float: left;
}

#profile #ratings {
   clear: both;
}

/* Adjust a search row possition when it is converted to an post or fake post. */
#profile .enclosing-row .short-post {
    min-height: 1.5em;
    margin-top: 0.25em;
}

/* Remove the row highlighter from selector.js */
#profile .enclosing-row:hover td{
    border-color: transparent;
}

#profile  #rate_user_options>div {
   margin-top: 0.5em;
}

/* Override the default search table colour. */
#profile  #selector_search_rate {
    background-color: #A6C0FF;
    border: none;
    padding: 0;
}

#profile #your_statements, #profile #kindred_statements, #profile  #global_statements {
    margin-top: 0.75em;
}

#profile .score>span {
    font-size: 0.875em;
}

#profile .post .info>a {
    margin-left: 2em;
}