/**
 * Copyright 2015 Sky Wickenden
 * 
 * This file is part of StreamBed.
 * An implementation of the Babbling Brook Protocol.
 * 
 * StreamBed is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * at your option any later version.
 * 
 * StreamBed is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with StreamBed.  If not, see <http://www.gnu.org/licenses/>
 */

/* Styles for streams that are shared between both the authenticated and public versions */

.post>.title>a {
    text-decoration: none;
    color: #3c4c78;
    font-size: 1.5em;
    min-height: 1em;
}

.post>.title>a:visited {
    text-decoration: none;
    color: #526aa6;
}


.post>.title>a>p:first-child{
    margin-top: 0;
}

.post>.title>a>p:last-child{
    margin-bottom: 0;
}

.post>.title>a.block-loading {
    border-radius: 0.25em;
    width: 10em;
}

.stream-image-links {
    position: absolute;
    background-color: rgba(29, 41, 73, 0.75);
    width: 100%;
    padding: 1em;
    color: #fff;
   /* visibility: hidden; */
}

.stream-image:hover ~ .stream-image-links,
.stream-image-links:hover,
.justified-gallery .post-thumbnail-container ~ .stream-image-links{
    visibility: visible;
}

#stream_container .caption .title {
    font-size: 1.75em;
    height: 1em;
    overflow: hidden;
    padding: 0 0.5em 0.25em 0.5em;
    margin-top: 0.25em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#stream_container .caption a, #stream_container .link {
    color: #B2C8FF;
}

#stream_container .caption a:hover, #stream_container .link:hover {
    color: #fff;
}

#stream_container .caption .actions>a, #stream_container .caption .actions>span {
    margin-right: 2em;
}

#stream_container .caption .info {
    padding: 0.5em 1em 0em 4em;
}

#stream_container .caption .actions {
    padding: 0.5em 1em 1em 4em;
}

#posts.justified-gallery > div > .caption {
    padding-left: 1em;
}