/**
 * Copyright 2015 Sky Wickenden
 * 
 * This file is part of StreamBed.
 * An implementation of the Babbling Brook Protocol.
 * 
 * StreamBed is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * at your option any later version.
 * 
 * StreamBed is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with StreamBed.  If not, see <http://www.gnu.org/licenses/>
 */

/* Shared public styles */
label {
    display: block;
}

.row {
    margin-top: 1em;
}

p {
    margin: 0.5em 0;
}

input[type='text'], input[type='password'] {
    border-color: #4B72A7 #B2CDE3 #B2CDE3 #4B72A7;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    padding: 0.25em;
}

.row>#username {
    font-weight: bold;
}

#login_submit {
   display: inline-block;
   width: 420px;
   background-color: #4476cc;
   height: 100px;
   line-height: 100px;
   vertical-align: text-middle;
   text-align: center;
   color: #ffffff;
   font-family: Calibri;
   font-size: 56px;
   font-weight: bold;
   font-style: normal;
   text-shadow: #222222 1px 1px 0;
   border-radius: 5px;
   text-decoration: none;
   border-width: 0;
   cursor: pointer;
}
input {

}

/*

li.subpost.closed > .content {
    display : none;
}

#post_tree li.subpost.closed > h3 > .switch {
    background: url('/images/icons/switch.png') 2px 2px no-repeat;
} */
