/* Styles for both create and update pages for streams. (They are mostly shared)*/

#stream_form label {
    display: block;
    margin-bottom: 0.25em;
    white-space: nowrap;
}

#stream_form input[type='text'] {
    display: block;
    width: 30em;
    margin-bottom: 0.25em;
    white-space: nowrap;
}

/* Override for the select-from-grid 'new location' and moderation ring textboxs */
#stream_form input.new-location,
input[type="text"]#new_moderation_ring  {
    display: inline;
}

/* Reset the grid search textboxes width */
#stream_form div.select-from-grid input[type="text"]{
    width: 100%;
}

/* Override the width of the select textbox to prevent horizontal scrollbar */
#stream_form  select.version-changed {
    width: auto;
}


#stream_form input[type='submit'], #stream_form input[type='button'] {
    display: block;
    margin-bottom: 0.25em;
    white-space: nowrap;
}

#stream_form label .help-icon {
    height: 1.1em;
    width: 1.1em;
    margin-left: 0.5em;
}

#RhythmExtra_description {
    max-width: 50em;
    min-width: 400px;
    width: 400px;
    min-height: 8em;
}

#stream_form .select-container {
    width: 410px;
    display: block;
    margin-bottom: 0.25em;
    white-space: nowrap;
}

#stream_form select {
    width: 31.5em;
}

#stream_form table.list-selector .list-selector-change-version select{
    width: auto;
}

#stream_form #rhythm_cats {
    width: 430px;
}

#stream_form img.publish, #stream_form img.deprecate, #stream_form img.delete, #stream_form img.revert {
    height: 2.5em;
    width: 2.5em;
    cursor: pointer;
}

#stream_form .select-from-grid {
    font-size: 0.875em;
}

/* Override defaults as this search table is nested in its normal background colour. */
#selector_default_ring_user {
    background-color: #B4C2E6;
    padding: 1em;
    margin-top: 0.5em;
}

#new_moderation_ring_error {
    padding-left: 1em;
}

.token-input-token-default {
    font-size: 0.875em;
}

#fields_container {
    background-color: #C8D8FF;
    border-radius: 0.25em;
    padding: 2em;
    margin-top: 1em;
}

h4.stream_field_header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}

.field-container {
    background-color: #B4C2E6;
    padding: 1em;
    border-radius: 0.25em;
    border: solid 2px #97abdc;
    margin: 2px 0;
    position: relative;
}

.oft_actions {
    position: absolute;
    right: 0.5em;
    top: 0.25em;
}

.oft_actions>div {
    display: inline-block;
    vertical-align: top;
}

.oft_actions>.delete>img, #add_new_field img {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    margin-right: 0.1em;
}

.oft_actions>.sort-up>img, .oft_actions>.sort-down>img {
    margin-top: 0.1em;
    cursor: pointer;
}

.post-type-field .help-icon {
    font-size: 0.875em;
}

/* Override site standard due to tabs making a large gap redundant. */
h3 {
    margin-top: 1em;
}

#update_stream_tabs {
    overflow: auto;
    margin: 2em 1.75em;
    font-weight: bold;
    height: 4em;
    border-radius: 0.25em 0.25em 0 0;
    background: linear-gradient(to bottom, #C8D8FF 0%, #C8D8FF 50%, #ffffff 100%) repeat scroll 0 0 transparent;
}

#update_stream_tabs>li {
    padding: 1em;
    height: 4em;
    border-radius: 0.25em 0.25em 0 0;
    /* Not sure why 33.3 is too wide. Can't use display: table because of the overflow issue with the sidebar. */
    width: 32.9%;
    display: inline-block;
}

#update_stream_tabs>li>a:hover {
    color: #4b72a7;
}

#update_stream_tabs>li.active {
    background: linear-gradient(to bottom, #8ba9f4 0%, #C8D8FF 50%, #ffffff 100%) repeat scroll 0 0 transparent;
}

#add_new_field img {
    float: left;
    padding-right: 1em;
}

#add_new_field h4 {
    margin-bottom: 0;
}

.select-to-empty {
    margin: 1em 0 0 1em;
}

#search_moderation_ring {
    padding-left: 1em;
}

.no-editing {
    min-height : 1em;
}

#stream_form table.selector input, #stream_form table.selector select {
    width: 100%;
}

#stream_form {
    overflow: hidden;
}